body{
    margin:0;
    background-image: url('../img/img3.jpg');
    background-attachment: fixed;
    background-size: cover;
}
header{

    height: 650px;
    position: relative;
}
/*navigation bar*/
/* basic menu styles */
.block-menu {
    display: block;
    background: rgba(0, 0, 0, 0.2);
}

.block-menu li {
    display: inline-block;
}

.block-menu li a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-smoothing: antialiased;
    text-transform: uppercase;
    overflow: visible;
    line-height: 20px;
    font-size: 24px;
    padding: 15px 10px;
}

/* animation domination */
.three-d {
    perspective: 200px;
    transition: all .07s linear;
    position: relative;
    cursor: pointer;
}
/* complete the animation! */
.three-d:hover .three-d-box,
.three-d:focus .three-d-box {
    transform: translateZ(-25px) rotateX(90deg);
}

.three-d-box {
    transition: all .3s ease-out;
    transform: translatez(-25px);
    transform-style: preserve-3d;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

/*
	put the "front" and "back" elements into place with CSS transforms,
	specifically translation and translatez
*/
.nav-front {
    transform: rotatex(0deg) translatez(25px);
    background: black;
}

.nav-back {
    transform: rotatex(-90deg) translatez(25px);
    background-color: #616161;
}

.nav-front, .nav-back {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    padding: 15px 10px;
    color: white;
    pointer-events: none;
    box-sizing: border-box;
}
/* arrange cart image*/
.cart-image{
    padding: 10px 0;
    position: absolute;
    right: 30px;
}
.cart-image img{
    height: 45px;
    object-fit: cover;
}
.cart-image img:hover{
    transform: rotatez(-25deg);
}
#background-overlay{
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
}
.header-text {
    width: 500px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    bottom: -200px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.header-text h1{
    font-size: 50px;
    color: #FFEB3B;
    margin: auto;
    position: relative;
    font-family: 'Shrikhand', cursive;
}
header{
    height: 600px;
    position: relative;
}
.main{
    width: 85%;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 0 auto;
}

.visit-store{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    color: #FAFAFA;
    border-bottom: solid 1px #FAFAFA;
    margin: 0 0 15px;

}
.album-list{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #FAFAFA;
}
.album{
    display: inline-block;
    position: relative;
    width: 200px;
    margin: 0 10px;

}
.album h4{
    height: 60px;
    margin: auto 0;
    padding-top: 5px;
}
.album-image{
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover !important;
}

footer{
    margin-top: 30px;
    height: 40px;
    text-align: center;
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    margin-top: 1px;
    width: 100%;
    height: 250px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.checkout_total {
    color: #ffffff;
    float: right;
}

