html,body{
    margin:0;
    background-image: url('../img/tour_background.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

.header{
    height: 80%;
    position: relative;
}
/*top header logo*/
.header_logo{
    position: relative;
    margin: 0 auto;
    width: 80%;
}
.header_toptwo{
    position: fixed;
    width:100%;
    background: rgba(0, 0, 0, 0.3);
}
.header_text{
    font-family: 'Kalam', cursive;
    font-size: 25px;
    color: #FF9800;
    margin:0 auto;
}
.header_text span{
    font-weight: 800;
    font-family: 'Satisfy', cursive;
    font-size: 60px;
    color: #FFEB3B;
}
.header_text span:hover{
    color: #00BCD4;
}
.header_text a:hover{
    text-decoration: none;
}
.social_icon{
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 15px;
}
.social_icon i{
    font-size: 40px;
    display: inline-block;
    color: #00BCD4;
    margin: 5px;
}
.social_icon i:hover{
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
    color: #B2EBF2;
}
/*navigation bar*/
/* basic menu styles */
.nav{
    background: #212121;
    width: 100%;
    margin: 0 auto;
}
.block-menu {
    width: 80%;
    margin: 0 auto;
    position: relative;
    padding: 0;
}
.block-menu li {
    display: inline-block;
}

.block-menu li a {
    color: #FFEB3B;
    display: block;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-smoothing: antialiased;
    text-transform: uppercase;
    overflow: visible;
    line-height: 20px;
    font-size: 24px;
    padding: 15px;
}
/* animation domination */
.three-d {
    perspective: 200px;
    transition: all .07s linear;
    position: relative;
    cursor: pointer;
}
/* complete the animation! */
.three-d:hover .three-d-box,
.three-d:focus .three-d-box {
    transform: translateZ(-25px) rotateX(90deg);
}

.three-d-box {
    transition: all .3s ease-out;
    transform: translatez(-25px);
    transform-style: preserve-3d;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

/*
	put the "front" and "back" elements into place with CSS transforms,
	specifically translation and translatez
*/
.nav-front {
    transform: rotatex(0deg) translatez(25px);
    background: #212121 0 0;
}

.nav-back {
    transform: rotatex(-90deg) translatez(25px);
    background-color: #757575;
}

.nav-front, .nav-back {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    color: white;
    pointer-events: none;
    box-sizing: border-box;
}
/* arrange cart image*/
.cart-image{
    padding: 10px 0;
    position: absolute;
    right: 0;

}
.cart-image span{
    color: #FFEB3B;
    font-size: 33px;
    height: 43px;
    object-fit: cover;
}
.cart-image span:hover{
    transform: rotatez(-25deg);
}
.header-text {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
.header-text h1{
    font-size: 80px;
    color: #FFEB3B;
    margin: auto;
    font-family: 'Nosifer', cursive;
    position: relative;
    top: 0;
}
.scroll{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.scroll_image{
    height: 50px;
}
.scroll_image:hover{
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);

}
/*Main body*/
.main{
    width: 80%;
    padding: 20px 20px 90px 20px;
    margin: 0 auto;
    opacity: 0;
}

.ticket{
    width: 100%;
    height: 200px;
    margin: 5px auto;
    background: rgba(0, 0, 0, 0.6);
    padding: 0 30px;
    position: relative;
}
.ticket_img{
    height: 70%;
    object-fit: cover;
    border-radius: 60%;
    margin-top: 25px;
    display: inline-block;
}
.ticket_text{
    width: 50%;
    display: inline-block;
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    margin-left: 30px;
    position: absolute;
    top: 20px;
    font-size: 20px;
}
.ticket_text h2{
    color: #FFEB3B;
}
.ticket_buy{
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 30px;
    text-align: center;
    margin: 0;
    color: #ffffff;
}
.ticket_buy span{
    color: #FFEB3B;
    text-decoration: underline;
}
.ticket_buy button {
    color: #ffff;
    width: 100px;
    height: 40px;
    border-radius: 10%;
    background-color: #FF9800;
    font-size: 20px;
    border: none;
    margin-top: 10px;
}
.ticket_buy button:hover{
    background-color: #E65100;
}
footer{
    height: 40px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 12px;
}